{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Statement</title>
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Link to external CSS file for Account Statement page -->
    <link rel="stylesheet" type="text/css" href="{% static 'account_statement.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Account Statement</h1>
        
        <h2 class="mt-4 incoming">Incoming Transfers</h2>
        <ul class="list-group">
            {% for transaction in incoming_transactions %}
                <li class="list-group-item incoming">
                    Amount: {{ transaction.amount }} Rs<br>
                    Timestamp: {{ transaction.timestamp }}<br>
                    Purpose: {{ transaction.purpose }}
                </li>
            {% endfor %}
        </ul>

        <h2 class="mt-4 outgoing">Outgoing Transfers</h2>
        <ul class="list-group">
            {% for transaction in outgoing_transactions %}
                <li class="list-group-item outgoing">
                    Amount: {{ transaction.amount }} Rs<br>
                    Timestamp: {{ transaction.timestamp }}<br>
                    Purpose: {{ transaction.purpose }}
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
