{% extends 'enroll/base.html' %}
{% load static %}

{% block title %}Admin Statement History Search{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="mt-5">Admin Statement History Search</h1>
        
        <form method="post" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        {% if error_message %}
            <div class="alert alert-danger mt-3" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
