{% extends 'enroll/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <!-- Link to Bootstrap CSS file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Link to external CSS file for profile page -->
    <link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
</head>
<body>
    {% block content %}
 
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="profile-heading">Welcome to your profile, {{ name }}</h1>
                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            {% for fm in form.visible_fields|slice:"0:5" %}
                                <div class="form-group">
                                    <label for="{{ fm.id_for_label }}">{{ fm.label }}</label>
                                    {{ fm }} 
                                    {% if fm.errors %}
                                        <small class="text-danger">{{ fm.errors|striptags }}</small>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-6">
                            {% for fm in form.visible_fields|slice:"5:" %}
                                <div class="form-group">
                                    <label for="{{ fm.id_for_label }}">{{ fm.label }}</label>
                                    {{ fm }} 
                                    {% if fm.errors %}
                                        <small class="text-danger">{{ fm.errors|striptags }}</small>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
                {% if messages %}
                    {% for message in messages %}
                        <small {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</small>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    
    {% endblock %}
</body>
</html>
